html{
	background: url(../Images/jaguar-xe.jpg) no-repeat center center fixed; 
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 1.5;
}

.cuadrado {
	background-color: black;
	color: white;
	padding: 17px 33px;
	margin: 47px 35px;
	border-radius: 13px;
	background: rgba(0, 0, 0, 0.7);
}

input{
	color: white;
	text-decoration: none;
	border:none;
	font-weight: bold;
	font-size: 20px;
	background: #DB3030;
	padding: 13px 40px;
	margin: 5px 0;
}

@media (min-width:768px){
	.cuadrado{
		width: 600px;
		margin: 115px;
		font-size: 18px;
	}
}